.openbtn {
  font-size: 35px;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

h1 {
  text-align: center;
  font-family: "Acme", sans-serif;
  background-color: #000;
  color: #fff;
}

div {
  text-align: center;
}

.carte {
  width: 400px;
  height: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#ffffff, #a6a6a6);
  border-radius: 10%;
}

img {
  width: 100%;

  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.texte {
  text-align: center;
  margin-right: 50px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

div.galerie-img {
  width: 100%;
  height: 100px;
}

#texte-galerie {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

div.cartes-galerie {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#ffffff, #a6a6a6);
  border-radius: 10%;
  display: inline-block;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carte {
  transition: 1s ease;
}

.carte section {
  position: absolute;
  display: none;
  justify-content: space-around;
  width: 30vw;
}

.bouton1,
.bouton2 {
  border-radius: 100%;
  height: 2.5vh;
  background-color: #000;
  color: #fff;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 414px) {

body {
    overflow: hidden;
    max-width: 100vw;
}

  .overlay a {
    font-size: 50px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  /* div {
    text-align: center;
  } */

  .carte {
    height: auto;
    margin-top: 100px;
    background: linear-gradient(#ffffff, #a6a6a6);
    border-radius: 10%;
    max-width: 50%;
  }

  .galerie-img img {
    max-width: 100%;
    width: 400px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
  }

  .cartes-galerie {
    margin-top: 100px;
    background: linear-gradient(#ffffff, #a6a6a6);
    border-radius: 10%;
    max-width: 100%;
    display: flex;
  }

  .texte {
    text-align: center;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 100%;
  }

  .carte {
    width: 80vw;
  }

  .carousel {
    width: 300%;
    transform: translateX(-96vw);
  }
}
